VITE_CHATBOT_WEBHOOK_URL_GENERAL=https://yourrga1.app.n8n.cloud/webhook/chat-general
VITE_CHATBOT_WEBHOOK_URL_SUMMARY=https://yourrga1.app.n8n.cloud/webhook/chat-summary
VITE_CHATBOT_WEBHOOK_URL_ADS=https://yourrga1.app.n8n.cloud/webhook/ADS_v1
VITE_CHATBOT_WEBHOOK_URL_SEO=https://yourrga1.app.n8n.cloud/webhook/chat-seo
VITE_ANALYZE_URL=https://yourrga1.app.n8n.cloud/webhook/campaign
