VITE_CHATBOT_WEBHOOK_URL_GENERAL="YOUR_N8N_WEBHOOK_URL_GENERAL"
VITE_CHATBOT_WEBHOOK_URL_SUMMARY="YOUR_N8N_WEBHOOK_URL_SUMMARY"
VITE_CHATBOT_WEBHOOK_URL_ADS="YOUR_N8N_WEBHOOK_URL_ADS"
VITE_CHATBOT_WEBHOOK_URL_SEO="YOUR_N8N_WEBHOOK_URL_SEO"
VITE_ANALYZE_URL="YOUR_N8N_WEBHOOK_URL_ANALYZE"